on:
  workflow_dispatch:   
#   schedule:
#     - cron: '0 * * * *'
name: Update gist with latest from google books
jobs:
  update-gist:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@main
      - name: update-gist
        uses: ahmedsaheed/Library-box@main
        env:
          GIST_ID: ${{ secrets.GIST_ID }}
          GH_TOKEN: ${{ secrets.GH_TOKEN }}
          GOOGLE_BOOKS_KEY: ${{ secrets.GOOGLE_BOOKS_KEY }}
          GOOGLE_BOOKS_UID: ${{ secrets.GOOGLE_BOOKS_UID }}
